<nav class="navbar is-dark" role="navigation" aria-label="dropdown navigation">
  <a class="navbar-item">
    <img src="assets/img/logo.png" alt="" width="112" height="28">
  </a>
  <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
  </a>
</nav>
<div class="tabs is-right">
  <ul>
    <li routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">HOME</a></li>
    <li routerLinkActive="is-active"><a [routerLink]="['/user']">USER</a></li>
  </ul>
</div>

